<div class="app-contant">
  <div class="bg-white">
      <div class="container-fluid p-0">
          <div class="row no-gutters">
              <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                  <div class="d-flex align-items-center h-100-vh">
                      <div class="login p-50">
                          <h1 class="mb-2">Mi Banco</h1>
                          <p>Por favor ingresa con tu cuenta</p>
                          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-3 mt-sm-5">
                              <div class="row">
                                  <div class="col-12">
                                      <div class="form-group">
                                          <label class="control-label">Usuario</label>
                                          <input type="text" class="form-control" formControlName="email" placeholder="Username" />
                                          <div *ngIf="isValidFiel('email')">
                                              <p class="text-danger" *ngIf="f['email'].errors!['required']">El usuario es requerido</p>
                                              <p class="text-danger" *ngIf="f['email'].errors!['email']">El usuario debe ser email</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12">
                                      <div class="form-group">
                                          <label class="control-label">Contraseña</label>
                                          <input type="password" class="form-control" formControlName="password" placeholder="Password" />
                                          <div *ngIf="isValidFiel('password')">
                                            <p class="text-danger" *ngIf="f['password'].errors!['required']">La contraseña es requerido</p>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-12">
                                      <div class="d-block d-sm-flex  align-items-center">
                                          <div class="form-check">
                                              <input class="form-check-input" type="checkbox" id="gridCheck">
                                              <label class="form-check-label" for="gridCheck">
                                                  Recuerdame
                                              </label>
                                          </div>
                                          <a href="javascript:void(0);" class="ml-auto">Olvidaste tu contraseña ?</a>
                                      </div>
                                  </div>
                                  <div class="col-12 mt-3">
                                    <button type="submit" class="btn btn-primary text-uppercase" [disabled]="loginForm.invalid">Iniciar Sesión</button>
                                  </div>
                                  <div class="col-12  mt-3">
                                      <p>No tienes una cuenta?<a href="#"> Registrarse</a></p>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-xxl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                  <div class="row align-items-center h-100">
                      <div class="col-7 mx-auto ">
                          <img class="img-fluid" src="./assets/img/bg/login.svg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
