<div class="container-fluid">
  <div class="card card-statistics">
    <div class="card-header d-flex justify-content-between">
        <div class="card-heading">
            <h4 class="card-title">Historial de la cuenta {{ numeroCuenta }}</h4>
          </div>
          <h4 class="card-title">Total {{ total | currency }}</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
          <table class="table mb-0">
              <thead>
                  <tr>
                      <th scope="col">Número de Cuenta</th>
                      <th scope="col">Monto</th>
                      <th scope="col">Terminal</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Fecha Activa</th>
                      <th scope="col">Usuario</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of historial">
                      <th scope="row">{{ item.numeroCuenta }}</th>
                      <td>{{ item.monto | currency }}</td>
                      <td>{{ item.terminal | uppercase }}</td>
                      <td>{{ item.tipo | uppercase }}</td>
                      <td>{{ item.fechaUltimaAct | date:'short' }}</td>
                      <td>{{ item.usuario | uppercase}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>
