<div class="container-fluid">
  <div class="card-body">
    <form [formGroup]="formTransaction" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="number">Número de cuenta</label>
            <input type="text" formControlName="numeroCuenta" readonly class="form-control" id="number" placeholder="Número de cuenta">
        </div>
        <div class="form-group">
            <label for="direccion">Monto</label>
            <input type="text" class="form-control" formControlName="monto" id="direccion" placeholder="Monto">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputState">Tipo de transacción</label>
              <select id="inputState" formControlName="tipo" class="form-control">
                  <option value="Deposito">Deposito</option>
                  <option value="Retiro">Retiro</option>
              </select>
          </div>
          <div class="form-group col-md-6">
              <label for="inputState">Terminal</label>
              <select id="inputState" formControlName="terminal" class="form-control">
                  <option value="TERM230">TERM230</option>
                  <option value="TERM231">TERM231</option>
                  <option value="TERM232">TERM232</option>
              </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formTransaction.invalid">Crear</button>
    </form>
  </div>
</div>
