<div class="container-fluid">
  <div class="card card-statistics">
    <div class="card-header d-flex justify-content-between">
        <div class="card-heading">
            <h4 class="card-title">Clientes</h4>
          </div>
          <a routerLink="/dashboard/clientes/crear" class="btn btn-primary">Crear</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Genero</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of clients">
                        <th scope="row">{{ item.uuid }}</th>
                        <td>{{ item.nombre | uppercase}}</td>
                        <td>{{ item.direccion | uppercase}}</td>
                        <td>{{ item.edad }}</td>
                        <td>{{ item.genero | uppercase}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

