<div class="container-fluid">
  <div class="card-body">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Nombre Completo</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre completo">
            <div *ngIf="isValidFiel('nombre')">
                <p class="text-danger" *ngIf="f['nombre'].errors!['required']">El nombre es requerido</p>
            </div>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" formControlName="direccion" id="direccion" placeholder="Dirección">
            <div *ngIf="isValidFiel('direccion')">
                <p class="text-danger" *ngIf="f['direccion'].errors!['required']">La direccion es requerido</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="edad">Edad</label>
                <input type="number" class="form-control" formControlName="edad" placeholder="Edad" id="edad">
                <div *ngIf="isValidFiel('edad')">
                    <p class="text-danger" *ngIf="f['edad'].errors!['required']">La edad es requerido</p>
                    <p class="text-danger" *ngIf="f['edad'].errors!['min']">La edad debe ser mayor o igual a 18</p>
                    <p class="text-danger" *ngIf="f['edad'].errors!['max']">La edad debe ser menor o igual a 100</p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Genero</label>
                <select id="inputState" formControlName="genero" class="form-control">
                    <option selected="">Seleccione un genero</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                <div *ngIf="isValidFiel('genero')">
                    <p class="text-danger" *ngIf="f['genero'].errors!['required']">El genero es requerido</p>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid">Crear</button>
    </form>
  </div>
</div>
