<div class="container-fluid">
  <div class="card card-statistics">
    <div class="card-header d-flex justify-content-between">
        <div class="card-heading">
            <h4 class="card-title">Cuentas de Ahorro</h4>
          </div>
          <a routerLink="/dashboard/cuentas/crear" class="btn btn-primary">Crear</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
          <table class="table mb-0">
              <thead>
                  <tr>
                      <th scope="col">IdCliente</th>
                      <th scope="col">Cuenta</th>
                      <th scope="col">Saldo</th>
                      <th scope="col">Activo</th>
                      <th scope="col">Fecha Actualizado</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngIf="accounts.length == 0">
                      <th>No hay informacion</th>
                  </tr>
                  <tr *ngFor="let item of accounts">
                      <th scope="row">{{ item.idCliente }}</th>
                      <td>{{ item.numeroCuenta }}</td>
                      <td>{{ item.saldo }}</td>
                      <td>{{ item.estado | uppercase }}</td>
                      <td>{{ item.fechaUltimaAct | uppercase}}</td>
                      <td>
                        <a [routerLink]="['/dashboard/cuentas/transaccion', item.numeroCuenta]" class="btn btn-primary">(DEPÓSITO/RETIRO)</a>&nbsp;&nbsp;
                        <a [routerLink]="['/dashboard/cuentas/historial', item.numeroCuenta]" class="btn btn-primary">TRANSACCIONES</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>
