<div class="container-fluid">
  <div class="card-body">
    <form [formGroup]="formAccount" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="number">Número de cuenta</label>
            <input type="text" formControlName="numeroCuenta" class="form-control" id="number" placeholder="Número de cuenta">
        </div>
        <div class="form-group">
            <label for="direccion">Saldo Actual</label>
            <input type="text" class="form-control" formControlName="saldoActual" id="direccion" placeholder="Dirección">
        </div>
        <div class="form-group">
            <label for="inputState">Cliente</label>
            <select id="inputState" formControlName="idClient" class="form-control">
                <option value="{{item.uuid}}" *ngFor="let item of clients" >{{item.nombre | uppercase}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formAccount.invalid">Crear</button>
    </form>
  </div>
</div>
